$accent: #ffcc00;

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

%uppercase {
  text-transform: uppercase;
}
%light-font-weight {
  font-weight: 200;
}

h2 {
  font-size: 3rem;
  letter-spacing: 5px;
  padding: 0 0px 25px 25px;
  border-left: 1px solid $accent;
  @extend %light-font-weight;
  @extend %uppercase;
}
h3 {
  font-size: 1.25rem;
}
h6 {
  font-size: .7rem;
  letter-spacing: 2px;
  padding: 5px 0;
  @extend %light-font-weight;
  @extend %uppercase;
}


body {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

.articles {
  background: #333;
  padding: 3% 5%;
  h2, h3, h4, h5, h6 {
    color: #fff;
  }
}

.side-bar {
  width: 40%;
  float: left;
  margin-right: 2%;
  box-sizing: border-box;
  height: 1070px;
  overflow: hidden;

  .side-bar-content {
    background: #000;
    padding: 2% 4%;
  }
}

.story {
  border-bottom: 1px solid #555;
  width: 60%;
  padding: 35px 0;
  margin:20px 0;
  position: relative;
}
.top-number {
  color: $accent;
  position: absolute;
  font-size: 100px;
  top: -115px;
  right: -75px;
}
.number {
  position: absolute;
  color: #333;
  font-size: 100px;
  right: -75px;
  bottom: -22px;
  line-height: normal;
}
.number:hover, .top-number:hover {
  color:#fff;
}

.story:nth-of-type(2){
  border-top: 1px solid #555;
}

///////////////////////////////////////
////////////////Right Side Content////
/////////////////////////////////////

.latest-stories {
  width: 58%;
  float: left;
  box-sizing: border-box;
  height: 1070px;
  overflow: scroll;

  h4 {
    padding-bottom: 15px;
  }
}

.split-story {
  width: 50%;
  float: left;
}

.clearfix::after {
  content:"";
  display: block;
  clear:both;
}
